* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Arial', 'sans-serif';
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Header */

header {
    background-color: #1F2937;
    height: 80px;
}

.header-links li a {
    padding-left: 40px;
    color: #E5E7EB;
    font-size: 18px;
}

.header-logo h1 {
    font-size: 24px;
    color: #F9FAF8;
}

/* Subheader */

.sub-header {
    height: 550px;
    gap: 5%;
    background-color: #1F2937;
}

.sub-left {
    width: 45%;
}

.sub-left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    line-height: 1.3;
    margin-bottom: 10px;
}

.sub-left p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

.sub-right {
    display: flex;
    height: 100%;
    width: 50%;
}

.sub-header img {
    /*width: 100%;*/
    width: 750px;
    height: 400px;
    align-self: center;
    object-fit: fill;
}

.btn-sign-up {
    display: inline-block;
    margin-top: 20px;
    background-color: #3882F6;
}

/* Info */

.info {
    height: 550px;
}

.info .flex {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.info-cards {
    display: flex;
    gap: 40px;
}

.info-card {
    display: flex;
    flex-direction: column;
    height: 270px;
    width: 270px;
    gap: 5%;
}

.info-card p {
    justify-self: flex-end;
    height: 10%;
    text-align: center;
    color: rgb(139, 135, 135);
    font-size: 18px;
    font-weight: 600;
}

.info-card img {
    height: 85%;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.info h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

/* Quote */

.quote {
    background-color: #E5E7EB;
}

.quote .container {
    padding: 80px;
}

figure {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

figcaption {
    align-self: flex-end;
    margin-right: 45px;
    font-weight: bold;
}

/* Call to action */

.action .sign-up {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 120px 160px;
    background-color: #3882F6;
    padding: 40px 140px;
    border-radius: 10px;
    color: #E5E7EB;
}

.action .btn-sign-up {
    margin: 5px 0;
    border: 2px solid white;
}

/* Footer */
footer {
    background-color: #1F2937;
    color: #E5E7EB;
}

footer p{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 40px 0;
}

/* Utilities */

.container {
    width: 100%;
    height: 100%;
    padding: 0 200px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    border-radius: 8px;
    border: none;
    padding: 10px 40px;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
}

.btn:hover {
    text-decoration: none;
    transform: scale(1.02);
}